// General settings
$defaultFontFamily: Arial, Helvetica, sans-serif;
$defaultTextColor: #000066;
$defaultBackgroundColor: #FFFFFF;
$defaultHeadingColor: #FFFFFF;
$defaultLinkColor: #0066FF;

$defaultInnerPadding: 12px;
$defaultOuterMargin: 10px;

$generalTextSize: 12px;


// bar and div background gradient colours
$barGradientColor1: #000066;
$barGradientColor2: #000066;
$barGradientColor3: #0066FF;
$barGradientDefaultColor: #000066;


$gradientPrimaryTextColor: #FFFFFF;
$gradientSecondaryTextColor: #FFFF00;



// Holding Page
$pageWidth: 1040px;
$pagePadding: 10px;
$pageBackgroundColor: #0000FF;
$titleColor: #FFFFFF;






// Header
$headerBannerHeight: 70px;
$headerNavigationHeight: 30px;
$headerHeight: $headerBannerHeight + $headerNavigationHeight + (2 * $pagePadding);
$headerFlagWidth: 91px;
$headerFlagHeight: 55px;

// Navigation Bar
$navigationBackgroundColor: #FFFF00;
$navigationTextColor: #000066;
$navigationHoverColor: #0000FF;



// Footer
$footerHeight: 60px;
$footerBannerHeight: $footerHeight - (2 * $pagePadding);
$footerTextColor: #FFFFFF;



// General Title Bar
$titleBarHeight: 40px;
$titleBarLeftRightPadding: 12px;
$flagHeight: 30px;



// Breadcrumb
$breadcrumbText: #FFFF00;
$breadcrumbLinkText: #FFFFFF;



// Columns
$searchColumnWidth: 225px;
$middleColumnWidth: 550px;
$rightColumnWidth: 225px;


// Search Form
$searchFormPadding: 10px;


// Sectors
$sectorWidth: 270px;